basePath: /v1
host: calendar.st-son.com
info:
  contact:
    email: support@st-son.com
    name: API Support
    url: https://st-son.com/support
  description: Ethiopian to Gregorian date converter server.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://st-son.com/terms/
  title: EthioGrego
  version: "1.0"
paths:
  /:
    get:
      description: Home Page
      produces:
      - text/html
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Home page
      tags:
      - Date-Converter
  /ad-to-et/{date}:
    get:
      consumes:
      - application/json
      description: Get ethiopian date string from gregorian date
      parameters:
      - description: date
        in: path
        name: date
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Gregorian to Ethiopian
      tags:
      - Date-Conversion
  /et-to-ad/{date}:
    get:
      consumes:
      - application/json
      description: Get gregorian date string from ethiopian date
      parameters:
      - description: date
        in: path
        name: date
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema: {}
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      summary: Ethiopian to Gregorian
      tags:
      - Date-Conversion
securityDefinitions:
  BasicAuth:
    type: basic
swagger: "2.0"
